<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">


	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="TRACE" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %p %t\t%c\t%m\t%n" />
		</layout>
	</appender>

	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->

	<!-- A time/date based rolling appender -->
 	<appender name="FILE"
		class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="${jboss.server.log.dir}/meterworks.log" />
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %p %t\t%c\t%m\t%n" />
		</layout>
	</appender>


	<!-- EMail events to an administrator
	<appender name="SMTP" class="org.apache.log4j.net.SMTPAppender">
		<param name="Threshold" value="ERROR" />
		<param name="To" value="mcervantes@voxeo.com" />
		<param name="From" value="cassius@voxeo.net" />
		<param name="Subject" value="Metering Engine Message" />
		<param name="SMTPHost" value="mail100.orl.voxeo.net" />
		<param name="BufferSize" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %p %t\t%c\t%m\t%n" />
		</layout>
	</appender>
 -->

	<!-- Syslog events
		<appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
		<errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
		<param name="Facility" value="LOCAL7"/>
		<param name="FacilityPrinting" value="true"/>
		<param name="SyslogHost" value="localhost"/>
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%d{ABSOLUTE},%c{1}] %m%n"/>
		</layout>
		</appender>
	-->




	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->

	<!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
	<category name="org.apache">
		<priority value="INFO" />
	</category>

	<category name="org.apache.activemq">
		<priority value="INFO" />
	</category>

	<category name="org.springframework">
		<priority value="INFO" />
	</category>

	<category name="org.hibernate">
		<priority value="DEBUG" />
	</category>

	<category name="org.hibernate.SQL">
		<priority value="DEBUG" />
	</category>

	<category name="org.hibernate.cache">
		<priority value="INFO" />
	</category>

	<category name="org.hibernate.tool.hbm2ddl">
		<priority value="INFO" />
	</category>

	<category name="org.sf">
		<priority value="INFO" />
	</category>

	<category name="net.sf">
		<priority value="INFO" />
	</category>

	<category name="com.voxeo">
		<priority value="INFO" />
	</category>

	<category name="rules">
		<priority value="INFO" />
	</category>

	<category name="org.h2">
		<priority value="INFO" />
	</category>


	<logger name="org.hibernate">
	    <level value="ALL" />
	    <appender-ref ref="FILE"/>
	</logger>

	<logger name="org.hibernate.hql.ast.HqlParser">
	    <level value="DEBUG" />
	    <appender-ref ref="FILE"/>
	</logger>

	<logger name="org.hibernate.hql.ast.SqlGenerator">
	    <level value="DEBUG" />
	    <appender-ref ref="FILE"/>
	</logger>


	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="SMTP" /> -->
	</root>

</log4j:configuration>

